*
{
	margin: 0;
	padding:0;
	font-family: sans-serif;
}
body
{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(wall1.jpg);
	background-size: cover;
	background-position: center;
}
.sign-up-form
{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0.3,0.5);
	background: #fff;
	padding: 20px;
	margin:10% auto 0;
	text-align: center;
}
.sign-up-form h1
{
	color: #db621c;
	margin-bottom: 30px;
}
.sign-up-form p
{
	font-size: 15px;
	margin: 15px 0; 
}
.sign-up-form input
{
	border-radius: 15px;
	padding: 3px;
	margin: 10px 0;
	width: 100%;
	border: 1px  solid #999	;
	outline: none;
}
.sign-up-form button
{
	color: red;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border:none;
	outline: none;
	cursor: pointer;
}

.sign-up-form button:hover
{
	color: red;
}